# Solana RPC (mainnet-beta production default)
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

# USDC mint (mainnet USDC)
NEXT_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v

# Merchant wallet to receive payments

# Google Client ID for Oauth2
NEXT_PUBLIC_GOOGLE_CLIENT_ID="insert_google_client_id_here"