{
  "openapi": "3.0.3",
  "info": {
    "title": "Payknot Event Checkout API",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://pay.crea8r.xyz/api" }
  ],
  "components": {
    "securitySchemes": {
      "AgentSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Agent-Signature",
        "description": "Also requires X-Agent-Id and X-Agent-Timestamp. Signature uses Ed25519 over canonical string: METHOD + \\n + PATH + \\n + TIMESTAMP + \\n + SHA256_HEX(BODY_RAW)."
      }
    }
  },
  "paths": {
    "/v1/payment-sessions": {
      "post": {
        "summary": "Create server-owned payment session",
        "security": [{ "AgentSignature": [] }]
      }
    },
    "/v1/payment-sessions/{sessionId}/status": {
      "get": { "summary": "Get payment session status", "security": [{ "AgentSignature": [] }] }
    },
    "/v1/payment-sessions/{sessionId}/wallet-instructions": {
      "post": { "summary": "Get wallet payment instructions", "security": [{ "AgentSignature": [] }] }
    },
    "/v1/payment-sessions/{sessionId}/submit-signature": {
      "post": { "summary": "Submit tx signature and finalize", "security": [{ "AgentSignature": [] }] }
    },
    "/v1/payment-sessions/{sessionId}/verify": {
      "post": { "summary": "Verify submitted signature/status", "security": [{ "AgentSignature": [] }] }
    },
    "/v1/payment-sessions/{sessionId}/cancel": {
      "post": { "summary": "Cancel unpaid session", "security": [{ "AgentSignature": [] }] }
    },
    "/events": {
      "get": {
        "summary": "List events for current owner identity",
        "security": [{ "AgentSignature": [] }]
      },
      "post": {
        "summary": "Create event",
        "security": [{ "AgentSignature": [] }]
      }
    },
    "/events/{id}": {
      "put": { "summary": "Update event", "security": [{ "AgentSignature": [] }] },
      "delete": { "summary": "Delete event", "security": [{ "AgentSignature": [] }] }
    },
    "/events/import/luma": {
      "post": { "summary": "Import event metadata from Luma URL", "security": [{ "AgentSignature": [] }] }
    },
    "/agent-keys": {
      "get": { "summary": "List agent keys (host-session auth)" },
      "post": { "summary": "Upsert agent key (host-session auth)" }
    },
    "/agent-keys/revoke": {
      "post": { "summary": "Revoke agent key (host-session auth)" }
    },
    "/checkout/invoice": {
      "post": { "summary": "Create checkout invoice/session" }
    },
    "/checkout/confirm": {
      "post": { "summary": "Confirm payment" }
    },
    "/checkout/status": {
      "get": { "summary": "Get checkout status by reference" }
    },
    "/checkout/{slug}": {
      "get": { "summary": "Get public checkout event metadata" }
    }
  }
}
